/* SCSS Document */
@charset "UTF-8";


/* Utils */
@import
   // "./utils//variables", // SASS 변수
   // "./utils/mixins", // SASS 믹스인
   // "./utils/functions", // SASS 함수
   "./utils/utilities"; // 유틸리티(css framework)  

/* layout */
@import
   "./layout/reset", // CSS 초기화   
   "./layout/frame"; // 기본구조정의

/* Components */
@import 
   // "./components/icons", // background 아이콘 (@mixin)
   "./components/forms", // 폼 요소
   "./components/buttons", // 버튼 요소
   "./components/modal"; // Modal 요소


   /* View */
@import 
   "./pages/common"; // 모든 페이지 공통 스타일