/* SCSS Document */
@charset "UTF-8";

/****************************************************************************
    buttons - 버튼 요소
****************************************************************************/
/* color */
$btnStates: (
  --hover-border-color: inherits,
  --hover-background: inherits,
  --hover-background-color: inherits,
  --hover-font-color: inherits,
  --active-border-color: inherits,
  --active-background: inherits,
  --active-background-color: inherits,
  --active-font-color: inherits,
  --disabled-border-color: #e4e4e4,
  --disabled-background: #efefef,
  --disabled-background-color: #efefef,
  --disabled-font-color: #c3c3c3,
);

@mixin btnState($val: $btnStates) {
  &:hover {
    border-color: map-get($val, --hover-border-color);
    background: map-get($val, --hover-background);
    background-color: map-get($val, --hover-background-color);
    .txt {
      color: map-get($val, --hover-font-color);
    }
  }
  &:active {
    border-color: map-get($val, --active-border-color);
    background: map-get($val, --active-background);
    background-color: map-get($val, --active-background-color);
    .txt {
      color: map-get($val, --active-font-color);
    }
  }
  &[disabled] {
    border-color: map-get($val, --disabled-border-color);
    background: map-get($val, --disabled-background);
    background-color: map-get($val, --disabled-background-color);
    .txt {
      color: map-get($val, --disabled-font-color);
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* 공통 */
.btn {
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  outline: none;
  // &[class*="btn-"] {
  //     padding: 0 1em;
  //     border: 1px solid #666;
  //     border-radius: 2em;
  //     background: #ffffff;
  //     @include transition;
  // }
  // .txt {
  //     font-size: 1em;
  //     color: #333;
  // }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* btn-round */
@mixin btnRound {
  position: relative;
  z-index: 1;
  height: fz-in-em(44, $G-font-size);
  padding: 0 fz-in-em(30, $G-font-size);
  font-size: $G-font-size;
  border-radius: 2em;
  font-weight: bold;
  color: #fff;
  background-color: $G-color-primary;
  .txt {
    line-height: 1em;
  }
  &--lg {
    $lg-font-size: 2rem;

    height: fz-in-em(62, $lg-font-size);
    padding: 0 fz-in-em(40, $lg-font-size);
    font-size: $lg-font-size;
  }
  &--xlg {
    $lg-font-size: 2.6rem;

    height: fz-in-em(98, $lg-font-size);
    padding: 0 fz-in-em(50, $lg-font-size);
    font-size: $lg-font-size;
  }
  &--is-shadow {
    box-shadow: $G-button-shadow;
  }

  @include transition;
}

// default
.btn-round {
  @include btnRound;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    z-index: -1;

    @include transition;
  }
  &:hover {
    &::after {
      right: 0;
    }
    &::before {
      @include transition($time: 0.25);
    }
  }
  &--white {
    color: $G-color-primary;
    background-color: #fff;
    &::after {
      background: $G-grad-primary;
    }
    &::before {
      border: 0.2rem solid $G-color-primary;
    }
    &:hover {
      color: #fff;
    }
  }
}

// border
.btn-round-border {
  @include btnRound;

  color: $G-color-primary;
  background-color: transparent;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    z-index: -1;
    background: $G-grad-primary;

    @include transition;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border: 0.2rem solid $G-color-primary;
    border-radius: 2em;

    @include transition;
  }
  &:hover {
    color: #fff;
    &::after {
      right: 0;
    }
    &::before {
      border-color: transparent;

      @include transition($time: 0.25);
    }
  }
  &--black {
    $color: #000;

    color: $color;
    &::after {
      background: $color;
    }
    &::before {
      border: 0.2rem solid $color;
    }
  }
}

// gradient
.btn-round-grad {
  @include btnRound;

  background: $G-grad-primary;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
