/* SCSS Document */
@charset "UTF-8";

/****************************************************************************
    Forms - 폼 요소
****************************************************************************/
/* .form*/
.form {
  position: relative;
}

/* .form-fieldset */
.form-fieldset {
  position: relative;
}

/* .form-row[data-row] */
.form-row {
  position: relative;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* input 기본값 */
.form-text {
  font-size: $G-font-size;
  &__textarea,
  &__input {
    display: block;
    width: 100%;
    height: 100%;
    padding: fz-in-em(14, $G-font-size);
    border: 0.1rem solid #ced4da;
    border-radius: fz-in-em(8, $G-font-size);
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    @include transition;

    &:focus {
      border-color: #333;
      outline: 0;
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* select */
.form-select {
  font-size: $G-font-size;
  &__select {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 fz-in-em(14, $G-font-size);
    border: 0.1rem solid #ced4da;
    border-radius: fz-in-em(8, $G-font-size);
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-image: svgIcon(triangle-down, 333);
    background-position: right fz-in-em(15, $G-font-size) center;
    background-repeat: no-repeat;
    background-size: fz-in-em(10, $G-font-size);
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* checkbox */
.form-check {
  display: inline-flex;
  font-size: $G-font-size;
  align-items: center;
  .form-check__input {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    border: 1px solid #cdcdcd;
    border-radius: fz-in-em(4, $G-font-size);
  }
  .form-check__input:checked {
    border: 0;
    background-color: $G-color-primary;
    background-image: svgIcon(check, fff);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fz-in-em(20, $G-font-size);
  }
  .form-check__label {
    position: relative;
    display: inline-block;
  }
  .form-check__input[type="radio"] {
    border-radius: 100%;
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
