/* SCSS Document */
@charset "UTF-8";

/****************************************************************************
    modal - modal 팝업 요소
****************************************************************************/
/* 공통 */
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  font-family: $G-font-family;
  font-size: $G-font-size;
  transform: translate(0, 0);
  &-wrapper {
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    &:empty {
      width: 50vw;
      height: 50vw;
      border-radius: 2em;
    }
  }
  &-header {
    position: relative;
    &__icon-close {
      position: absolute;
      z-index: 101;
      top: 50%;
      right: 1.1em;
      width: 1.3em;
      height: 1.3em;
      background-image: svgIcon(close, fff);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }
  &-body {
    overflow: auto;
  }
  &-footer {
    position: relative;
  }
  &-dimmed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    touch-action: none;
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* 경고창 */
.modal.modal-alert {
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
