/* SCSS Document */
@charset "UTF-8";

/****************************************************************************
    utilities Class(css framework)           https://getbootstrap.com 참고함
****************************************************************************/
/* overflow */
.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: scroll !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* display */
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}

/* flex */
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}

// Direction
.flex-column {
  flex-direction: column !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-start {
  justify-content: start !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}

//Grow and shrink
.flex-shrink-0 {
  flex-shrink: 0;
}

// Wrap
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* visibility */
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

/* visibility - 접근성 고려하여 시각적으로 숨기면서 화면 리더 사용 가능함 */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* float */
.float-start {
  float: left !important;
}
.float-end {
  float: right !important;
}
.float-none {
  float: none !important;
}
.clear-start {
  clear: left !important;
}
.clear-end {
  clear: right !important;
}
.clear-both {
  clear: both !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* position */
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/*

    width

    [html 작성 예]
    <div class="w-10"></div>

    [style 변환시]
    <div style="width:10%"></div>

*/
.w {
  @for $i from 0 through 300 {
    $width: $i * 1;
    &#{"-" + $i} {
      width: #{$width}% !important;
    }
  }
}
.w-auto {
  width: auto !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/*

    margin

    [html 작성 예]
    <div class="mt-10 mb-10"></div>

    [style 변환시]
    <div style="margin-top:1rem;margin-bottom:1rem"></div>

*/
.m {
  $value: t top, r right, b bottom, l left;

  @each $class, $name in $value {
    @for $i from 0 through 300 {
      $margin: $i * 0.1;
      &#{$class + "-" + $i} {
        #{"margin-"+$name}: #{$margin}rem !important;
      }
    }
  }
}
.mx-auto {
  margin: 0 auto;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/*

    padding

    [html 작성 예]
    <div class="pt-10 pb-10"></div>

    [style 변환시]
    <div style="padding-top:1rem;padding-bottom:1rem"></div>

*/
.p {
  $value: t top, r right, b bottom, l left;

  @each $class, $name in $value {
    @for $i from 0 through 300 {
      $margin: $i * 0.1;
      &#{$class + "-" + $i} {
        #{"padding-"+$name}: #{$margin}rem !important;
      }
    }
  }
}
.p-0 {
  padding: 0 !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* border - Subtractive */
.border-0 {
  border: 0 !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-end-0 {
  border-right: 0 !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-start-0 {
  border-left: 0 !important;
}

/* border - Radius */
.rounded-0 {
  border: 0 !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/*

    Font size

    [html 작성 예]
    <div class="fz-20"></div>

    [style 변환시]
    <div style="font-size:2rem"></div>

*/
.fs {
  @for $i from 0 through 30 {
    &#{"-" + $i} {
      font-size: #{$i * 0.1}rem !important;
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* Font weight and italics */
.fw-bold {
  font-weight: bold !important;
}
.fw-bolder {
  font-weight: bolder !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-light {
  font-weight: 300 !important;
}
.fw-lighter {
  font-weight: lighter !important;
}
.fst-italic {
  font-style: italic !important;
}
.fst-normal {
  font-style: normal !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* Font Family */
.ff {
  $values: "Jost";

  @each $value in $values {
    &#{"-" + $value} {
      font-family: #{$value} !important;
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* Text alignment */
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* color */
.color-primary {
  color: $G-color-primary;
}
.color-secondary {
  color: #2db680;
}
.color {
  $value: #fff, #000, #999, #333;

  @each $hexCode in $value {
    $class: str-slice(#{$hexCode}, 2, 7);
    &#{"-" + $class} {
      color: #{$hexCode};
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* line-height */
.lh {
  @for $i from 0 through 100 {
    &#{"-" + $i} {
      line-height: #{$i * 0.1}em !important;
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* background-color */
.bg-primary {
  background-color: $G-color-primary !important;
}
.bg-secondary {
  background-color: $G-color-secondary !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.bg {
  $value: #fff, #000, #999, #f2f2f2;

  @each $hexCode in $value {
    $class: str-slice(#{$hexCode}, 2, 7);
    &#{"-" + $class} {
      background-color: #{$hexCode} !important;
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* Word break */
.word-break {
  word-wrap: break-word;
}
.word-keep {
  word-break: keep-all;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* images */
.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* cursor & pointer-event */
.pointer-none {
  pointer-events: none !important;
}
.pointer-all {
  pointer-events: all !important;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* Horizontal rules */
hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid;
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/* CSS Reset */
.unset-all {
  all: unset !important;
}
.unset {
  $values: padding, margin, font-size;

  @each $value in $values {
    &#{"-" + $value} {
      #{$value}: unset !important;
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/

/**
*   clamp (말줄임)
*
*   [html 작성 예]
*   <div class="clamp-1"></div>
*
*/

.clamp {
  @for $i from 0 through 10 {
    &#{"-" + $i} {
      white-space: normal !important;
      display: -webkit-box !important;
      -webkit-line-clamp: $i !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
  }
}

/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
