/* SCSS Document */
@charset "UTF-8";

/****************************************************************************
    cache
****************************************************************************/
$G-cache: random(999999999);

/****************************************************************************
    Breakpoints                               https://getbootstrap.com 참고함
****************************************************************************/
$G-breakpoint-small: 576px;
$G-breakpoint-medium: 768px;
$G-breakpoint-large: 1024px;
$G-breakpoint-extraLarge: 1680px;
$G-breakpoint-extraExtraLarge: 1920px;
$G-breakpoint-fhd: 1920px;
$G-breakpoint-qhd: 2560px;
$G-breakpoint-uhd: 3840px;

/****************************************************************************
    Font
****************************************************************************/
$G-font-family: "NotoSansKR", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum", "AppleSDGothicNeo-Light", "Sans-serif", "Tahoma";

/****************************************************************************
    color
****************************************************************************/
$G-colorPrimary: #2b75ff;
$G-colorSecondary: #63e5ce;

/****************************************************************************
    path
****************************************************************************/
$G-imgPath: "/@solution/lucy2/dashboard/mobile_2022/asset";
