/* SCSS Document */
@charset "UTF-8";

/****************************************************************************
    cache
****************************************************************************/
$G-cache: random(999999999);

/****************************************************************************
    Breakpoints                               https://getbootstrap.com 참고함
****************************************************************************/
$G-breakpoint-small: 576px;
$G-breakpoint-medium: 768px;
$G-breakpoint-large: 1024px;
$G-breakpoint-extraLarge: 1680px;
$G-breakpoint-extraExtraLarge: 1920px;
$G-breakpoint-fhd: 1920px;
$G-breakpoint-qhd: 2560px;
$G-breakpoint-uhd: 3840px;

/****************************************************************************
    box-sizing
****************************************************************************/
$G-header-height: 8.4rem;
$G-inner-width: 117rem;

/****************************************************************************
    font
****************************************************************************/
$G-font-family: "NotoSansKR", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum", "AppleSDGothicNeo-Light", "Sans-serif", "Tahoma";
$G-font-size: 1.6rem;
$G-letter-spacing: -0.02em;

/****************************************************************************
    color
****************************************************************************/
$G-color-primary: #4d34ef;
$G-color-secondary: #325cf3;
$G-color-active: #6f00e4;

/****************************************************************************
    linear-gradient
****************************************************************************/
$G-grad-primary: linear-gradient(90deg, #4b98f2 0%, #604aff 100%);
$G-grad-hover: linear-gradient(90deg, #4b98f2 0%, #4b98f2 100%);
$G-grad-active: linear-gradient(90deg, #604aff 0%, #4b98f2 100%);

/****************************************************************************
    shadow
****************************************************************************/
$G-box-shadow: 0 0 3rem rgba(7, 7, 7, 0.12);
$G-btn-shadow: 0 0.3rem 1.7rem rgba(46, 43, 176, 0.4);

/****************************************************************************
    path
****************************************************************************/
$G-img-path: "../asset/images";
