/* SCSS Document */
@charset "UTF-8";

/****************************************************************************
    Frame - 기본구조정의
****************************************************************************/
html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

#wrap {
  position: relative;
  width: 100%;
  font-family: #{$G-font-family};
  font-size: 1.6rem;
  letter-spacing: -0.02em;

  //확대 축소를 막기
  &[user-scalable="false"],
  &[user-scalable="false"] ~ * * {
    touch-action: pan-y;
  }
}

#header {
  position: relative;
  z-index: 30;
}

#container {
  position: relative;
  z-index: 20;
}

#footer {
  position: relative;
  z-index: 10;
}

.inner {
  position: relative;
  z-index: 1;
  width: 111.7rem;
  height: 100%;
  margin: 0 auto;
  @include clearBoth;
}
